*.iml
*.so
*.pyd
*.ipynb
.ENV
.env
.ipynb_checkpoints/
.yarn/
coverage.lcov
coverage.xml
profile.json
polars/vendor
tmp_expanded.rs

# OS
.DS_Store

# IDE
.idea/
.vscode/
.vim

# Python
.hypothesis/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv*/
__pycache__/
.coverage
bindings/lyric-py/python/lyric/*.so

# Rust
target/

# Data
*.csv
*.parquet
*.feather
*.tbl

logs/